* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Subrayada";
  src: url("./fonts/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf");
}

:root {
  --background: black;
  --foreground: white;
}

@media screen and (prefers-color-scheme: dark) {

  :root {
    --background: black;
    --foreground: white;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--foreground);
  overflow-x: hidden;
}

a {
  padding: 0.25rem 0.6rem;
  color: var(--foreground);
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  transition: 200ms ease-in-out;
}

a:focus,
a:hover {
  outline: none;
  border: 2px solid var(--foreground);
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3vw;
  margin-bottom: 2vw;
  width: 100%;
  height: 7.5rem;
}

header > ul {
  display: flex;
  justify-content: center;
  width: 80%;
  list-style: none;
}

header > ul > li {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
}

#listing-augomate {
  font-family: "Montserrat Subrayada", "Arial", sans-serif;
}

#listing-notes {
  font-family: "Montserrat", "Arial", sans-serif;
}

/* Iframes */

main {
}

article {
  padding: 0 2vw;
  scroll-margin: 2vw;
  margin-bottom: 6vw;
}

article > section.sites {
  margin-bottom: 3vw;
  padding: 4vw;
}

article > a {
  position: relative;
  display: block;
  padding: 2vw;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}

#augomate > a > h2 {
  font-family: "Montserrat Subrayada", "Arial", sans-serif;
}

#notes > a > h2 {
  font-family: "Montserrat", "Arial", sans-serif;
}

iframe {
  width: 100%;
  height: 150vw;
  padding: 3px;
  background: linear-gradient(135deg, #aaa, #555);
  border: none;
  border-radius: 0.5rem;
}

iframe.site-mobile {
  display: none;
}

/* Footer */

footer {
  position: relative;
  flex: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

footer > p {
  font-size: 0.7rem;
  text-align: center;
}

footer > p > a {
  padding: 0.05rem 0.1rem;
  border: 1px solid transparent;
}

footer > p > a:focus,
footer > p > a:hover {
  border: 1px solid var(--foreground);
}

@media screen and (min-width: 450px) {

  article > section.sites {
    padding: 8vw;
  }

  iframe {
    height: 130vw;
  }

  footer > p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 600px) {

  iframe {
    height: 110vw;
  }

  footer > p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 750px) {

  article > section.sites {
    padding: 0vw;
  }

  iframe {
    height: 60vw;
    border-radius: 1vw;
  }

  footer > p {
    font-size: 1rem;
  }

  header > ul > li {
    padding: 1.5rem;
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {

  article > section.sites {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1rem;
  }

  iframe.site-mobile {
    display: block;
  }

  iframe {
    height: 50vw;
  }

  header {
    height: 11rem;
    padding: 1.5rem 6vw;
  }

  header > ul > li {
    padding: 1.75rem;
    font-size: 2rem;
  }
}

@media screen and (prefers-reduced-motion: reduce) {

  * {
    transition: none;
    animation: none;
  }

  html {
    scroll-behavior: auto;
  }
}
